@font-face{font-family:'Roboto';src:url('doc/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf')}
/* Background and font */
html * {
    background-color: #a9b7c0;
    font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  }

img {
  width: 100%;
  height: auto;
  background-color: inherit;
}

#main_grid {
  display: grid;
  margin: 0em;
  padding: 0em;
  grid-template-columns: 15vw 1fr 10vw;
  grid-template-areas: 
    "nav main footer";
}

.nav-container {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding-left: .5em;
  padding-right: .5em;
  margin-left: 1em;
  background-color: #c7d8c6;
}

.nav-container div {
  display: flex;
  cursor: pointer;
  flex-direction: inherit;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  background-color: #c7d8c6;
  transition: 0.5s;
}

.nav-container div:hover {
  padding-right: .2em;
  padding-left:.2em;
}

.nav-container div a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  font-size: 1em;
}

.main {
  grid-area: main;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: inherit;
}

.footer {
  grid-area: footer;
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: inherit;
}

#logo {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: inherit;
}