body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
}

* {
  box-sizing: border-box;
  background-color: #a9b7c0;
  color: #333;
  font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  border: 0px solid red;
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
}

section {
  display: flex;
  flex: 10;
  flex-direction: column;
  padding: 2rem;
}

img {
  background-color: inherit;
  width: 80%;
}

nav :hover {
  transform: translateX(-0.25em);
  transition: 0.3s;
}

nav * :hover {
  transform: translateX(0);
}

nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 1em;
  background-color: #c7d8c6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

nav .nav-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: inherit;
  width: 100%;
}

nav .nav-item p,
nav .nav-item a {
  cursor: pointer;
  background-color: inherit;
  margin: 0em;
}

nav .nav-item p {
  font-size: max(2vw, 2vh);
  width: min-content;
  align-self: center;
}

aside{
  display: flex;
  flex: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: min-content;
  position: absolute;
  top: 8px;
  right: 8px;
  }

aside div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: max-content;
  height: 100%;
  background-color: #c7d8c6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

aside a, aside option {
  font-size: max(1vw, 1vh);
  background-color: #c7d8c6
}

aside select {
  font-size: max(.75vw, .75vh);
  color: black;
  text-decoration: none;
  display: block;
  background-color: #c7d8c6
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
  nav {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 0em;
    margin-top: 1em;
  }
  img {
    width: 60%;
  }

  aside a, aside option, aside select {
    font-size: max(1.5vw, 1.5vh);
  }

  aside{
    position: relative;
    top: 0px;
    right: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

  aside div {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: .5rem;
      width: 100dvw;
      height: 100%;
    }
}

@media (max-width: 768px) {
  img {
    display: none;
  }
  nav {
    justify-content: start;
    gap: 1rem;
  }
}