body {
  margin: 0;
  padding: 0;
  display: flex;
  width: calc(100vw - 3px);
  height: calc(100vh - 3px);
} 
* {
  box-sizing: border-box;
  background-color: #a9b7c0;
  color: #333;
  font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  border: 1px solid red;}

img {
  width: 100%;
  background-color: inherit;;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  height: 100%;
  padding-left: .5em;
  padding-right: .5em;
  margin-left: 1em;
  background-color: #c7d8c6;
}

nav .nav-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-shrink: 1;
  height: 25%;
  width: 100%;
  background-color: inherit;
  border: 1px solid blue;
}

nav .nav-item p, nav .nav-item a , nav .nav-item img {
  cursor: pointer;
  background-color: inherit;
  height: 100%;
}

main {
  flex: 1;
  padding: 20px;
}

footer, footer div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
}

.footer-top {
  display:flex;
}

.footer-bottom {
  display:flex;
}

select {
  color: #333;
  background-color: inherit;
  border: none;
  padding: 5px;
}
